src/main/resources/META-INF/mm.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.xiemingmin.top/schema/mm"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.xiemingmin.top/schema/mm"
            elementFormDefault="qualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:element name="callLimit">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="redisServeIp" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[redis服务ip]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="redisServePort" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[redis服务端口]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="authPwd" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[redis鉴权密码]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>